header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 19px;
    .logo {
        img {
            width: 237px;
            height: 70px;
        }
        .logo-text {
            font-size: 10px;
            line-height: 12px;
            text-align: center;
        }
    }
    .adress {
        display: flex;
        font-size: 19px;
        line-height: 22px;
        color: #A8ADBE;
    }
    .time {
        display: flex;
        font-size: 19px;
        line-height: 22px;
        color: #A8ADBE;
        span {
            font-weight: 700;
        }
    }
    .soc {
        
        display: flex;
        flex-wrap: wrap;
        
        a {
            display: block;
            margin-bottom: 3px;
            flex-basis: 45%;
            color: #06C8FD;
            font-size: 19px;
            text-decoration: none;
            &:hover {
                color: #000;
            }
        }
    }
    .phone {
        &-text {
            font-weight: bold;
            font-size: 19px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 7px;
            text-align: center;
            a {
                color: #000000;
                text-decoration: none;
                &:hover {
                    color: grey;
                }
            }
        }
        &-button {
            background: #FFFFFF;
            border: 1px solid #8FD1E9;
            padding: 14px 40px;
            box-shadow: 0px 9px 16px rgba(0, 171, 225, 0.08);
            border-radius: 30px;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: $main-color;
            cursor: pointer;
            &:hover {
                background: $btn-color;
                color: #fff;
            
            }
        }
    }
}
.menu {
    display: flex;
    list-style-type: none;
    margin-bottom: -48px;
    margin-top: 18px;
    z-index: 2;
    position: relative;
    li {
        margin-right: 40px;
        a {
            color: #000;
            &:hover {
                color: #fff;
            }
        }
    }
}
.hamburger {
    width: 38px;
    height: 38px;
    transition: 0.5s all;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 3;
    top: 24px;
    right: 24px;
    display: none;
    span {
        width: 38px;
        height: 3px;
        background-color: #000;
    }
}

//mobile blocks
.logo__mob {
    display: none;
}

.contacts__mob {
    display: none;
    position: absolute;
    z-index: 1;
    top: 115px;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    input {
        display: none;
    }
    label {
        width: 102px;
        height: 30px;
        background: #E5F6FA;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: $akcent-color;
        margin: 0 3px;
        justify-content: center;
    }
    .for-time, .for-adress {
        display: none;
        position: absolute;
        top: 32px;
        background-color: #fff;
        font-size: 12px;
        width: 32%;
        height: auto;
        padding: 5px;
        line-height: 20px;
        left: 2px;
    }
    .for-adress {
        left: 34%;
    }
    
    #time__mob:checked ~ .for-time {
        display: block;
    }
    #adress__mob:checked~.for-adress {
        display: block;
    }
}


